html, body {
    margin: 0;
    padding: 0;
}

/* THEME */

.mdl-card {
    background: #343434;
    color: #ddd;
    margin-right: 16px;
    margin-left: 16px;
    transition: all .3s ease-out;
}

.mdl-card:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.4);
    transition: all .15s ease-in;
}

.mdl-card__supporting-text {
    color: #c7c7c7;
}

.mdl-card__actions {
    text-align: right;
}

.mdl-card--border {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.two-cards {
    text-align: left;
    display: inline;
    max-width: 800px;
}

.two-cards .mdl-card {
    width: calc(50% - 34px);
}

.two-cards .mdl-card h5{
    padding-left: 16px;
}

/* TOOLBAR */
#toolbar {
    background-color: #111;
    color: #eee;
}

#toolbar .mdl-navigation__link, #toolbar .mdl-layout__drawer-button {
    color: #eee;
}

#toolbar-title {
    color: #fff;
    text-decoration: none;
}

#menu-title {
    color: #333;
    text-decoration: none;
}

/* HEADER */
#header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
}

#header .header-text {
    margin: auto;
    max-width: 800px;
    margin-bottom: 32px;
}

#header .header-actions {
    text-align: center;
}

/* INTRODUCTION */
#introduction {
    padding-top: 32px;
    padding-bottom: 32px;

    background-color: rgba(42, 42, 42, .8);
    color: #333;
}

.introduction-content {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.mdl-card, .three-cards , i{
    display: inline-block;
    vertical-align: text-top;
}

/* VISION */
#vision {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;

    color: #eee;
}

#vision .vision-content {
    max-width: 800px;
    margin: auto;
}

/* HARDWARE */

#hardware {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;

    background-image: url("../images/dark-md.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #eee;
}

.hardware-content {
    max-width: 800px;
    margin: auto;
}

/* OS */

#os {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;

    background-color: rgba(42, 42, 42, .8);
    color: #eee;
}

.os-content {
    max-width: 800px;
    margin: auto;
}

.os-card .mdl-card {
    width: calc(100% - 34px);
}

.os-card .mdl-card img {
    max-width: 21.5%;
}

.os-card .mdl-card h5 {
    padding-left: 16px;
}


/* BLOCKCHAINS */
#blockchains {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #eee;
}

.blockchains-content {
    max-width: 800px;
    margin: auto;
}

/* APPLICATIONS */
#applications {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;

    background-image: url("../images/grey-yellow-md.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #eee;
}

.applications-content {
    max-width: 800px;
    margin: auto;
}

/* FOOTER */
.footer {
    background-color: #222;
}

@media (max-width: 832px) {

    #header, #hardware, #applications {
        background-attachment: inherit;
        background-origin: center, center;
    }

    .header-text, .vision-content, .hardware-content, .os-content, .blockchains-content, .applications-content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .two-cards .mdl-card {
        margin-top: 16px;
        margin-bottom: 16px;
        width: calc(100% - 34px);
    }
}